/*Estilos para H1*/

body
{
background-color: lightgray;
background: url(/img/fondo1.jpg) no-repeat;
background-size: cover;
}

h1
{
    color: red !important;
    text-align: center;
}

/*
0-!important
1-en linea
2-Selector etiquetas
*/


/*
Atajo para comentario:
CTRL + } 
*/